<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <section class="example">
            <div>
<!--              <ngx-charts-pie-chart-->
<!--                [view]="view"-->
<!--                [results]="data"-->
<!--                [legend]="false"-->
<!--                [labels]="true"-->
<!--                [explodeSlices]="false"-->
<!--                [doughnut]="true"-->
<!--              >-->
<!--              </ngx-charts-pie-chart>-->
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
